In [51]:
 import pandas as pd

In [52]:
foods = pd.Series(['Rice', 'Beans', 'Yam', 'Plantain', 'Bread', 'Fish', 'Chicken', 'Egg', 'Milk', 'Banana'])

In [53]:
foods

0        Rice
1       Beans
2         Yam
3    Plantain
4       Bread
5        Fish
6     Chicken
7         Egg
8        Milk
9      Banana
dtype: object

In [54]:
prices = pd.Series([500, 300, 700, 600, 400, 1000, 1500, 50, 200, 100])

In [55]:
prices

0     500
1     300
2     700
3     600
4     400
5    1000
6    1500
7      50
8     200
9     100
dtype: int64

In [56]:
food_prices_df = pd.DataFrame({'Food': foods,'Price (Naira)': prices})

In [57]:
print(food_prices_df)

       Food  Price (Naira)
0      Rice            500
1     Beans            300
2       Yam            700
3  Plantain            600
4     Bread            400
5      Fish           1000
6   Chicken           1500
7       Egg             50
8      Milk            200
9    Banana            100